.tabBar{
    display: flex;
    flex-direction: row;
    border-radius:25px;
    overflow: hidden;
    margin:5px 10px;
    text-align: center;
}
.tabBar .tab{
    flex:1;
    cursor:pointer;
    width:100%;
    padding: 10px;
    backdrop-filter: blur(10px);
    background: rgba(225,225,225,0.1);
}
.tab.active{
    background: linear-gradient(to top right,var(--color-primary),var(--color-secondary));
    box-shadow: 0px 0px 10px var(--color-primary),0px 0px 10px var(--color-secondary);
}
.tabItem{
    display: none;
}
.tabItem[active="1"]{
    display: block;
    animation:0.4s linear fade-in-scale-slide-left;
}